.search-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.search-box .close-icon {
    left: auto;
    right: 15px;
    cursor: pointer;
}
.search-box .form-control {
    padding: .375rem 2rem;
}


.search-box .loader {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
}
